/* body{
    background-color: rgb(149, 252, 218);text-align: center;
}
.text{
    color: aliceblue; background-color: blue; width:
}
.text1{
color: black;
}
.text2{
    width: 200px; height: 200px; border-radius: 50%;
}
#pi{
    color: aliceblue; background-color: black;
} */
#CSS{
    text-align: center; color: aliceblue; background-color: rgb(58, 169, 24); height: 60    px;
}
#text1{
    text-align: center;
}
#pics{
    color: aliceblue; background-color: rgb(37, 37, 37); height: 30px; text-align: center;
}